<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Site Title</title>
    <link rel="stylesheet" href="./_assets/css/bootstrap.css">
  </head>
  <body>
    {% include components/nav %}
    {{content}}
  </body>
</html>