<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Site Title</title>
    <link rel="stylesheet" href="./_assets/css/bootstrap.css" />
    <link rel="stylesheet" href="./_assets/css/site.css" />
    <script src="./_assets/js/anime.min.js" ></script>
  </head>
  <body>
    <div>
        {% include components/nav %}
        <div class="container py-3">
          {{ content }}
        </div>
        {% include components/footer %}
    </div>
  </body>
</html>